<div id="<%= dom_id tweet %>">
  <p class="python">
    <strong>User:</strong>
    <%= tweet.user.email%>
  </p>

  <p  class="python">
    <strong>Conteudo:</strong>
    <%= tweet.conteudo %>
  </p>

</div>
