<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<div class="container">
  <div class ="row">
    <div class="col-8">
        <div class="container">
          <div id="tweets">
            <% @tweets.each do |tweet| %>
              <div class="card">
                <div class="face face1">
                  <div class="content">
                    <span class="stars"></span>
                    <%= render tweet %>
                  </div>
                </div>
                <div class="face face2">
                  <p>
                    <%= link_to "Mostrar este tweet", tweet %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>    
        </div>
    </div>
     <div class="col-4">

    </div>
  </div>
</div>

<%= link_to "Novo Tweet", new_tweet_path %>
