<div class="home">
    <div class="text">
        <h1 class="title">Bem vindo a Tomate Class</h1>
        <p> bora programar?<p>
        <hr class="my-4">
        <p> é com muita alegria que vocês estão cursando nesta instituição</p>
        <p class="lead">
            <p> não está cursando?Cadastre-se</p>
            <%= link_to "Cadastrar",root_path,class: "btn btn-primary btn-lg"%>
        <p>
    </div>
    <div class="imagem">

    </div>
</div>